body
{
    background-color : black;
}
table
{
   width : 100%;
   height : 100%;
   
}
.td1
{
    background-color : black;
    width: 50%;
}
.td2
{
    background-color : ghostwhite;
}
.head
{
    color : white;
    margin-left : 10%;
    font-size : 50px;
}
#drop-down1
{
    color : black;
    font-weight: bolder;
}
#drop-down2
{
    color : black;
    font-weight: bolder;
}
#drop-down3
{
    color : black;
    font-weight: bolder;
}
.div1
{
    margin-top : -45%;
    margin-left : 2%;
    width : 15.5%;
    background-color : lightgray;
    border-style: outset;
    text-align : center;
}
.div2
{
    margin-top : -12.6%;
    margin-left : 20%;
    width : 15.5%;
    background-color : lightgray;
    border-style: outset;
    text-align : center;
}
.div3
{
    margin-top : -12.69%;
    margin-left : 38%;
    width : 15.5%;
    background-color : lightgray;
    border-style: outset;
    text-align : center;
}
/* @media (max-width : 767px)
{
    
} */
