.degrees
{
    margin-top : 10%;
}
.progress-bar
{
    width : 25%;
    background-color : transparent;
    margin-left : 22.5%;
    margin-top : -3.5%;
}
.full
{
  background-color : black;
  width : 100%;
  border-radius : 15px;
}
.got
{
    background-color : #498000;
    color : white;
    text-align : right;
    font-weight : bold;
    width : 86%;
    border-radius : 15px;
}
.progress-bar2
{
    width : 18.5%;
    background-color : transparent;
    margin-left : 77%;
    margin-top : -3.5%;
  
}
.full2
{
  background-color : black;
  width : 100%;
  border-radius : 15px;
}
.got2
{
    background-color : #498000;
    color : white;
    text-align : right;
    font-weight : bold;
    width : 73%;
    border-radius : 15px;
}
.progress-bar3
{
    width : 22%;
    background-color : transparent;
    margin-left : 9%;
    margin-top : -3.5%;
}
.progress-bar4
{
    width : 17%;
    background-color : transparent;
    margin-left : 47.5%;
    margin-top : -3.5%;
}
.full4
{
  background-color : black;
  width : 100%;
  border-radius : 15px;
}
.got4
{
    background-color : #498000;
    color : white;
    text-align : right;
    font-weight : bold;
    width : 78%;
    border-radius : 15px;
}
.schooling
{
    margin-top : 40%;
    
}
.head4
{
    margin-left : 3%; 
    margin-top : -7%;
    font-family :Nirmala UI;
    font-size : 20px;
   color : #498000;
    
}
.head5
{
    
    font-family :Nirmala UI;
    font-size : 20px;
    color : #498000;
    margin-left : 40%; 
    margin-top : -2.3%;
}
.full3
{
  background-color : black;
  width : 100%;
  border-radius : 15px;
}
.got3
{
    background-color : #498000;
    color : white;
    text-align : right;
    font-weight : bold;
    width : 73%;
    border-radius : 15px;
}
.head3
{
    color : #498000;
    font-family :Nirmala UI;
    font-size : 20px;
    margin-left : 55.3%;
    margin-top : -2.2%;
}
.head2
{
    margin-top : -30%;
    margin-left:3%;
    color : #498000;
    font-family :Nirmala UI;
    font-size : 20px;
    
}
#Academics{
    background-color : lightgrey;
}
.Hist1
{
  color : grey;
  text-align : justify;
  font-weight : bolder;
  margin-top : -5%;
  margin-left : 1%;
  }
.Hist2
{
     color : grey;
  text-align : justify;
  font-weight : bolder;
  margin-top : -5%;
}
.PG
{
    border-style : inset;
    border-color : #c1692f;
    border-radius : 4%;
    background-color : black;
    margin-left : 2%;
    margin-top : 1%;
    width : 31%;
    position : absolute;
}
.UG
{
    border-style : inset;
    border-color : #c1692f;
    border-radius : 4%;
    background-color : black;
    margin-left : 38%;
    margin-top : 0.9%;
    width : 28%;
    position : absolute;
}
.HRsec
{
     border-style : inset;
    border-color : #c1692f;
    border-radius : 4%;
    margin-top : 1%;
    margin-left : 2%;
    background-color : black;
    width : 20%;
    position : absolute;   
}
.sec
{
     border-style : inset;
    border-color : #c1692f;
    border-radius : 4%;
    margin-top : 1%;
    margin-left : 28%;
    background-color : black;
    width : 17%;
    position : absolute;   
}
h2.course
{
    font-size : 18px;
    margin-left : 1%;
    color : white;
}
h2.course2
{
     font-size : 18px;
     margin-left : 1%;
     margin-top : 3%;
     color : white;
}
h2.course3
{
     font-size : 18px;
     margin-left : 5%;
     margin-top : 3%;
     color : white;
}
h2.course4
{
     font-size : 18px;
     margin-left : 4%;
     margin-top : 2%;
     color : white;
}
html
{
    scroll-behavior : smooth;
}
body
   {
       background-color :  black;
        overflow-y : scroll;
   }
   .author
   {
       color : lightgrey;
       font-family : Lucida Handwriting;
   }
   .name
   {
       color : white;
       font-weight : bolder;
       font-family : Georgia;
       font-size : 40px;
       margin-left : 25%;
       margin-top : 1%;
   }
   .msg1
   {
       color : black;
       background-color : #498000;
       text-align : center;
       font-family : Rockwell;
       width : 20%;
       margin-left : 15%;
       margin-top : -25%;
   }
   .do
   {
       color : white;
       font-family : Corbel;
       color : #498000; 
       margin-left : 25%;
       margin-top : -5%;
   }
   .details
   {
       color : gray;
       font-weight : bold;
       font-size : 17px;
       margin-left : 30%;
       
   }
   .head
   {
       background-color : black;
   }
   .th1
   {
       height : 11%;
       background-color : black;
   }
   .th2
   {
       height : 100%;
       background-color :black;
   }
   .th3
   {
       height : 100%;
       background-color : black;
   }
   .img1,.img2
   {
       background-color : black;
   }
   .my_image
   {
       margin-left :25%;
       margin-top : -3%;
       filter: brightness(170%);
   }
   .my_image2
   {
         margin-left : 10%;
        margin-top : -45%;
   }
   a
   {
       cursor : pointer;
   }
   .social-medium
   {
       list-style: none;
       border: 1px solid black;
       height: 40px;
       width : 50%;
       margin-left : 15%;
       border-height : 20%;
       border-style : inset;
       border-color : #393939;
    }
    .menus li
   {
       list-style: none;
       border: 1px solid black;
       border-color : grey;
       text-align : center;
       background-color : #1c1c1c;
       height: 20px;
       width : 17%;
       border-height : 20%;
       border-style : double;
       border-radius : 15px;
    }
    .menus li:hover
    {
        background-color : #498000;
    }
    h3
    {
        color : #498000;
    }
    li
    {
        float: left;
        margin-right: 2%;
        height: 40px;
        width: 46px;
    }
    .insta
    {
        margin-top : -5%;
        margin-left : -20%;
    }
    .fb
    {
        margin-top : 7.5%;
    }
    .tw
    {
        margin-top : 12%;
    }
    .gm
    {
        margin-left : -20%;
    }
    .git
    {
        margin-top : -5%;
        margin-left : -20%;
    }
    .solo
    {
        margin-top : -3%;
        margin-left : -20%;
    }
   .contents
   {
       background-color : #1c1c1c;
       width : 50%;
    
       
   }
   ::-webkit-scrollbar 
   {
     background: transparent;  
   }
   @media (max-width : 575px)
   {
        body
        {
              background-color : black;
              overflow-y : scroll;
              overflow-x : auto;
              width : 200%;
        }
        .th1{ height : 20%;}
        .author
        {
            color : lightblue;
            font-family : Times;
            font-size : 40px;
            text-align : center;
        }
        .menus li
         {
       list-style: none;
       border: 1px solid black;
       height: 20px;
       width : 50%;
       font-size : 15px;
       border-height : 20%;
       border-style : inset;
       
        }
      
   }
